{%extends "_layout.html"%} 
{% block content %}

<div class="container-fluid">
<h2 style="text-align: center;">Profile Update</h2>

<img src="{{current_user.profile_image_url}}" class="card-img-top;" style="border-radius: 20px; width:100px; height:100px;">
<form action="{{ url_for('users.upload', id=current_user.id ) }}" enctype="multipart/form-data" method="POST">
  <input type="hidden" name="csrf_token" value="{{ csrf_token()}}"/>
  <label for="profile_image">Update Profile Picture</label>
      <br>
      <input type="file" name="profile_image">
      <br>
      <button type="submit" class="btn btn-primary">Upload</button>
  </form>
  <br>
<form action="{{ url_for('users.update', id = current_user.id) }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token()}}"/>
    <div class="form-group">
        <label for="username">Change Username</label>
        <input type='text' name='username' value='{{current_user.username}}' class="form-control" />
    </div>
    <div class="form-group">
        <label for="email">Change Email </label>
        <input type='text' name='email' value='{{current_user.email}}' class="form-control" />
    </div>
    <br>
    <p> Hide Photo Collection? [Tick To Hide, Untick To Make Public]</p>
    {% if current_user.private == False %}
    <div>
        <label ><input type="checkbox" name="status" value="" /> Yes </label>    
    </div> 
    {% else %}
    <div>
        <label ><input type="checkbox" name="status" value="private" checked/> Yes </label>    
    </div>
    {% endif %}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div> 
{% endblock %}