{%extends "_layout.html"%} 
{% block content %}

<h1>Update User Details</h1>
<p> {{current_user.username}}</p>
<img src="{{current_user.profile_image_url}}" class="card-img-top;" style="border-radius: 20px;">
<form action="{{ url_for('users.update', id = current_user.id) }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token()}}"/>
    <div class="form-group">
        <label for="username">Change Username</label>
        <input type='text' name='username' value='{{current_user.username}}' class="form-control" />
      </div>
    <div class="form-group">
        <label for="email">Change Email </label>
        <input type='email' name='email' value='{{current_user.email}}' class="form-control" />
    </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <form action="{{ url_for('users.upload', id=current_user.id ) }}" enctype="multipart/form-data" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token()}}"/>
    <label for="profile_image">Upload Your Profile Image</label>
        <br></br>
        <input type="file" name="profile_image">
        <br></br>
        <button type="submit">Upload</button>
    </form>
{% endblock %}