{%extends "_layout.html"%} 
{% block content %}

<div class="container-fluid">
    <h2 style="text-align:center"> Your Photo Feed</h2>
    <div class="row">
        {% for img in feed_list %}
        <div class="col-md-3 mb-3">
            <img src="{{img.user_images_url}}" class="img-fluid" style="width:100%; height:250px;object-fit: cover;">
            <a class="btn btn-primary" href="/donations/{{img.id}}/new" role="button">Donate</a>
            <a class="btn btn-primary" href="/users/{{img.image_owner}}" role="button">See More By @{{img.image_owner}}</a>
        </div>
        {% endfor %}
    </div>
    <div class="d-flex justify-content-center">
    {% if page > 1 %}
        <a class="previous" href="/users/feed/?page={{page-1}}">&laquo; Previous</a>
    {% endif %}
    {% if pagination.get_page_count() > page %}
        <a class="next" href="/users/feed/?page={{page+1}}">Next &raquo;</a>
    {% endif %}
    </div>
    <br>
    <br>
</div>

{% endblock %}