{%extends "_layout.html"%} 
{% block content %}

<div class="container-fluid">
    <div class="row mb-5">
        <div class="col-sm-3">
            <img src="{{user.profile_image_url}}" class="img-rounded" style="height:200px; width: 200px;">
            <p>Donations Received : ${{d_total}}</p> 
        </div>
        {% if current_user.username == user.username %}
        <div class="col-sm-6">
            <h5>My Followers</h5>
            <div class="row">
                {% for f in user.fans %}
                <div class="col-sm-2">
                    <img src="{{f.profile_image_url}}" class="img-rounded" width="50px" height="50px">
                    <a href="/users/{{f.username}}">{{f.username}}</a>
                </div>
                {% endfor %}
            </div>
            <br>
            <h5>I Am Following</h5>
            <div class="row">
                {% for i in user.idols %}
                <div class="col-sm-2">
                    <img src="{{i.profile_image_url}}" class="img-rounded" width="50px" height="50px">
                    <a href="/users/{{i.username}}">{{i.username}}</a>
                </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
        <div class="col-sm-6">
            <h5>@{{user.username}} Is Following</h5>
            <div class="row">
                {% for i in user.idols %}
                <div class="col-sm-2">
                    <img src="{{i.profile_image_url}}" class="img-rounded" width="50px" height="50px">
                    <a href="/users/{{i.username}}">{{i.username}}</a>
                </div>
                {% endfor %}
            </div>
            <br>
            <h5>@{{user.username}}'s Followers</h5>
            <div class="row">
                {% for f in user.fans %}
                <div class="col-sm-2">
                    <img src="{{f.profile_image_url}}" class="img-rounded" width="50px" height="50px">
                    <a href="/users/{{f.username}}">{{f.username}}</a>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if current_user.is_following(user.id) %}
        <div class="col-sm-3">
            <form action="{{url_for('follows.delete', idol_id=user.id)}}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token()}}"/>
                <button class="btn btn-danger" type="submit">Unfollow</button>
            </form>
        </div>
        {% else %}
        <div class="col-sm-3">
            <form action="{{url_for('follows.create', idol_id=user.id)}}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token()}}"/>
                <button class="btn btn-primary" type="submit">Follow</button>
            </form>
        </div>
        {% endif %}
    </div>
{% if user.private == True and current_user.username != user.username and status == "notapproved" %}
<h3 style="text-align: center;"> Private Photo Collection</h3>

{% elif current_user.username != user.username %}
    <div class="row">
        {% for img in user.images %}
        <div class="col-md-3 mb-3">
            <img src="{{img.user_images_url}}" class="img-fluid" style="width:100%; height:250px;object-fit: cover;">
            <a class="btn btn-primary" href="/donations/{{img.id}}/new" role="button">Donate</a>
        </div>
        {% endfor %}
    </div>
{% else %}
    <div class="row">
        {% for img in user.images %}
        <div class="col-md-3 mb-3">
            <img src="{{img.user_images_url}}" class="img-fluid" style="width:100%; height:250px;object-fit: cover;">
            <a class="btn btn-primary" href="/images/delete/{{img.id}}" role="button">Delete</a>
        </div>
        {% endfor %}
    </div>
{% endif %}
</div>
{% endblock %}