body {
  margin: 0;
  padding-bottom: 15px;
  position: relative;
  min-height: 100vh;
}

footer {
  font-size: 11px;
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  text-align: center;
  color: #303030;
}

footer a {
  text-decoration: none;
  color: #303030;
}

/* Navbar links */
.navbar a {
  /* float: left; */
  /* text-align: center; */
  padding: 8px;
  color:#28a745;
  /* text-decoration: none; */
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: grey;
}

/* .navbar a .nav-link {
  float: left;
  text-align: center;
  padding: 8px;
  color:#28a745;
  text-decoration: none;
  font-size: 17px;
} */

.form-control {
  width: 50%;
  border: 2px solid;
}

.dropdown-menu {
  min-width: 100px;
  white-space: nowrap;
}

.previous {
  display: inline-block;
  background-color:grey;
  color: black;
}

.next {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
}

