<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    {% assets "home_css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    {% assets "home_js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% block header %}
    {% endblock %}

    <title>
      {% block title %}
      {% endblock %}NEXTAGRAM
    </title>

  </head>
  <body>
  <div class="container-fluid" style="padding-left:0;padding-right: 0;">
  {% block navbar %}
  <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;margin-bottom: 20px;" >
    <a class="navbar-brand" href="{{url_for('home')}}">
      <img src="/static/images/favicon.png" alt="" style="width:30px; height:30px" class="d-inline-block align-top"/>
      Nextagram
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
      
    <div class="collapse navbar-collapse" id="mynavbar">
    {% if not current_user.is_authenticated %}
    <ul class="navbar-nav mr-auto">
      <li class="nav-item mx-2">
        <a href="{{url_for('sessions.new')}}"><i class="fas fa-sign-in-alt"></i> Login</a>
      </li>
      <li class="nav-item mx-2">
        <a href="{{url_for('users.new')}}"><i class="fas fa-user-plus"></i> Sign Up</a>
      </li>
      <li class="nav-item mx-2">
        <a href="{{url_for('sessions.forgot_password')}}"><i class="far fa-question-circle"></i> Forgot Password</a>
      </li>
      <li class="nav-item mx-2">
        <a href="{{url_for('contact')}}"><i class="far fa-envelope"></i> Contact Us</a>
      </li>
    </ul>
    {% else %}
    <ul class="navbar-nav mr-auto">
      <li class="nav-item mx-2">
        <a class="nav-item mx-2" href="/users/feed"><i class="fas fa-rss-square"></i> My Feed</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-item mx-2" href="{{url_for('images.new')}}"><i class="fas fa-upload"></i> Upload Photos</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-item mx-2" href="/users/{{current_user.username}}"><i class="far fa-images"></i> My Photos</a>
      </li>
      <li class="nav-item dropdown mx-2 position static">
        <a class="dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i> My Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="nav-item mx-2" href="{{url_for('users.edit', id=current_user.id)}}"><i class="fas fa-user-edit"></i> Update Profile</a>
          <a class="nav-item mx-2" href="/follows/new"><i class="fas fa-thumbs-up"></i> Approve Requests</a>
          <a class="nav-item mx-2" href="{{url_for('users.passwd', id=current_user.id)}}"><i class="fas fa-key"></i> Change Password</a>
        </div>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-item mx-2" href="{{url_for('sessions.logout')}}"><i class="fas fa-sign-out-alt"></i>Logout</a>
      </li>
    </ul>
    {% endif %}
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
    <form class="form-inline my-2 my-lg-0" action="{{url_for('users.search', username=username)}}">
      <input class="form-control mr-sm-2" type="search" name="username" placeholder="Type Username" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
      </li>
    </ul>
  </div>
  </nav>
           
  {% endblock %}
  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
  
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ message }}
      </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  
  {% block content %}
  {% endblock %}
    <footer>
      Made with &hearts; at <a target="_blank" href="https://www.nextacademy.com/?utm_source=github&utm_medium=student-challenge&utm_campaign=flask-nextagram">NEXT Academy</a>
    </footer>
  </div>
  </body>
</html>
