<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% assets "home_css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    {% assets "home_js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% block header %}
    {% endblock %}

    <title>
      {% block title %}
      {% endblock %}NEXTAGRAM
    </title>

  </head>
  <body>
  <div class="container-fluid" style="padding-left:0;padding-right: 0;">
  {% block navbar %}
  <nav class="navbar navbar-light mt-auto" style="background-color: #e3f2fd;margin-bottom: 20px;" >
      <div class="navbar-header" style="display: flex;">
        <a class="nav-item mx-2" href="{{url_for('home')}}">
          <img src="/static/images/favicon.png" alt="" style="width:30px; height:30px"/>
        </a>
        <a class="nav-item mx-2" href="{{url_for('home')}}"> Nextagram </a>
        <form class="form-inline mx-2" action="{{url_for('users.search', username=username)}}">
          <input class="form-control mr-sm-2" type="search" name="username" placeholder="Type Username" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
        
      <div class="navbar-right">
        {% if not current_user.is_authenticated %}
        <a class="nav-item mx-2" href="{{url_for('sessions.new')}}">Login</a>
        <a class="nav-item mx-2" href="{{url_for('users.new')}}"> Sign Up</a>
        {% else %}
        <a class="nav-item mx-2" href="{{url_for('users.edit', id=current_user.id)}}">Update Profile</a>
        <a class="nav-item mx-2" href="{{url_for('users.passwd', id=current_user.id)}}">Change Password</a>
        <a class="nav-item mx-2" href="{{url_for('images.new')}}">Upload Photos</a>
        <a class="nav-item mx-2" href="/users/{{current_user.username}}">Manage Photos</a>
        <a class="nav-item mx-2" href="{{url_for('sessions.logout')}}">Logout</a>
        {% endif %}
      </div>
  </nav>
  {% endblock %}
  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
  
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ message }}
      </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  {% block content %}
  {% endblock %}
    <footer>
      Made with &hearts; at <a target="_blank" href="https://www.nextacademy.com/?utm_source=github&utm_medium=student-challenge&utm_campaign=flask-nextagram">NEXT Academy</a>
    </footer>
  </div>
  </body>
</html>
